target
.gradle
build
!ktlint/src/main/resources/config/.idea
/.idea
*.iml
out
/site
# https://youtrack.jetbrains.com/issue/KT-58223/Kotlin-Gradle-plugin-shouldnt-store-data-in-project-cache-directory
.kotlin
#888
