name: Generate changelog

on: [ workflow_dispatch ]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'pinterest/ktlint'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 19
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true

      - name: "Build Changelog"
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          echo "==== test 1 ===="
          echo -e "${{ steps.build_changelog.outputs.changelog }}" >> $GITHUB_OUTPUT
          echo "==== test 2 ===="
          echo -e ${{ steps.build_changelog.outputs.changelog }} >> $GITHUB_OUTPUT
          echo "==== test 3 ===="
          echo ${{ steps.build_changelog.outputs.changelog }} >> $GITHUB_OUTPUT
